<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue Input加减计算</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="one">
        <input type="text" v-model="two">
        <p>相加的结果:{{ add() }}</p>
        <p>相减的结果:{{ jian() }}</p>
    </div>

    <script>
        var obj = new Vue({
            el:'#app',
            data: {
                one: 0,  //默认0
                two: 0   //默认0
            },
            methods: {
                add() {
                    return this.one*1 + this.two*1
                },
                jian() {
                    return this.one*1 - this.two*1
                }
            }
        })
    </script>

</body>